<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="row mb-4 ">
        <div class="col d-flex justify-content-between">
          <div>
            <h5>商品一覧</h5>
          </div>
          <div>
            <%= link_to new_admin_item_path do %>
              <i class="fas fa-plus-circle fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <!--<th>ジャンル</th>-->
                <!--<th>ステータス</th>-->
              </tr>
            </thead>

            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <th><%= item.id %></th>
                  <th><%= link_to item.name, admin_item_path(item) %></th>
                  <th><%= item.price %></th>
                  <!--<th></th>-->
                  <!--<th></th>-->
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>

