<div class="container">
  <div class="row">
    <h5><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h5>
  </div><br />

  <div class="row">
    <div class="col-3">
      <p>会員ID</p>
      <p>氏名</p>
      <p class="pt-1">フリガナ</p>
      <p class="pt-2">郵便番号</p>
      <p class="pt-2">住所</p>
      <p class="pt-2">電話番号</p>
      <p class="pt-2">メールアドレス</p>
      <p class="pt-2">会員ステータス</p>
    </div>

    <div class="col-8">
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
        <p><%= @customer.id %></p>
        <p><%= f.text_field :last_name %><span class="ml-5"><%= f.text_field :first_name %></span></p>
        <p><%= f.text_field :last_name_kana %><span class="ml-5"><%= f.text_field :first_name_kana %></span></p>
        <p><%= f.text_field :postal_code %></p>
        <p><%= f.text_field :address %></p>
        <p><%= f.text_field :telephone_number %></p>
        <p><%= f.email_field :email %></p>
        <% if @customer.is_deleted == false %>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              有効
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              退会
            </label>
          </div>
        <% else %>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              有効
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
            <label class="form-check-label" for="exampleRadios2">
              退会
            </label>
          </div>
        <% end %>

        <p class="mt-5"><%= f.submit "変更を保存", class: "btn btn-lg btn-success" %></p>
      <% end %>
    </div>
  </div>
</div>