<div class="container">
  <div class="row">
    <h5>注文履歴詳細</h5>
  </div>

  <div class="row">
    <div class="col-2">
      <p>購入者</p>
      <p>注文日</p>
      <p>配送先</p><br />
      <p>支払い方法</p>
    </div>
    <div class="col-10">
      <p><%= link_to @order.shipping_name, admin_customer_path(@order.customer.id) %></p>
      <p><%= @order.updated_at.strftime( "%Y/%m/%d" ) %></p>
      <p><%= @order.shipping_address %><br />
          <%= @order.shipping_name %></p>
      <p><%= @order.payment_method_i18n %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead class="table-active">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </thead>

        <tbody>
          <%  @sum = 0 %>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.quantity %></td>
            <% @sum += order_detail.subtotal %>
            <td><%= order_detail.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3 d-flex align-items-end">
      <table class="table table-borderless d-flex flex-row">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @sum %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td>800円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><%= @sum + 800 %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
