<div class="container">
  <div class="row">
    <h5>注文情報入力</h5>
  </div>

  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path do |f| %>
      <p class="font-weight-bold">支払方法</p>
      <div class="col">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br />
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
      </div>

      <p></p>

      <p class="font-weight-bold">お届け先</p>
      <div class="row">
        <div class="col">
          <p><%= f.radio_button :select_address, 0 %>ご自身の住所</p>
          <p><%= current_customer.address %><br /><%= current_customer.last_name + current_customer.first_name %></p>
        </div>
      </div>

      <!--<div class="form-check">-->
      <!--  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">-->
      <!--  <label class="form-check-label" for="exampleRadios1">-->
      <!--    登録済住所から選択-->
      <!--  </label>-->
      <!--  <div class="row">-->
      <!--    <div class="col">-->
      <!--      <p><%= f.radio_button :select_address, 1 %>登録済住所から選択</p>-->
      <!--      <%= f.select :order_id, options_from_collection_for_select(Order.all, :id, :shipping_name) %>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->

      <p><%= f.radio_button :select_address, 2 %>新しいお届け先</p>
      <div class="row">
        <div class="col">
          <p><%= f.label :shipping_postal_code, "郵便番号(ハイフンなし)" %></p>
          <p><%= f.label :shipping_address, "住所" %></p>
          <p><%= f.label :shipping_name, "宛名" %></p>
          </p>
        </div>
        <div class="col">
          <p><%= f.text_field :shipping_postal_code %></p>
          <p><%= f.text_field :shipping_address %></p>
          <p><%= f.text_field :shipping_name %></p>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>

