<div class="container">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-9">
      <div class="row">
        <h3>商品一覧(全<span><%= @item.count %></span>件)</h3>
      </div>

      <div class="row d-flex flex-wrap mb-5 px-5 mx-5">
        <% @items.each do |item| %>
        <div class="mx-3 px-1">
          <%= link_to items_show_path(item.id) do %>
            <%= image_tag item.get_image(150,150) %>
          <% end %><br />
          <%= item.name %><br />
          <%= item.price %>
        </div>
        <% end %>

      </div>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <%= paginate @item %>
        </div>
      </div>
    </div>
  </div>
</div>
