<div class="container">
  <div class="row">
    <h1>商品一覧(全<span><%= @item.count %></span>件)</h1>
  </div>

  <div class="row">
    <% @items.each do |item| %>
    <div>
      <%= link_to items_show_path(item.id) do %>
        <%= image_tag item.get_image(100,100) %>
      <% end %><br />
      <%= item.name %><br />
      <%= item.price %>
    </div>
    <% end %>

  </div>

  <div>
    <%= paginate @item %>
  </div>
</div>
