<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @items.get_image(50,50) %>
    </div>

    <div class="col">
      <%= @items.name %><br />
      <%= @items.introduction %><br /><br />
      <%= "¥" %><%= @items.price %><%= "(税込)" %>

      <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
        <%= f.hidden_field :item_id, value: @items.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit 'カートに入れる', class: "btn btn-success btn-sm" %>

      <% end %>
    </div>
  </div>
</div>